@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 16px;
}

body {
  background-color: #eeeeea;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  display: flex;
  width: 40vw;
  &:has(.active) {
    width: 80vw;
  }
  .panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 6rem;
    cursor: pointer;
    margin: 0.8rem;
    position: relative;
    flex: 0.5;
    transition: flex 0.5 ease-in;
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    padding-bottom: 2rem;
    &:hover .img-overlay {
      opacity: 0.8;
    }
    &.active {
      flex: 4;
      .row .description {
        opacity: 1;
        transform: translateY(0);
      }
      &:hover .img-overlay {
        opacity: 0;
      }
    }
    .row {
      display: flex;
      align-items: center;
      color: #fff;
      .icon {
        background: #223;
        border-radius: 50%;
        width: 3.5rem;
        height: 3.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1rem;
      }
      .description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        height: 5rem;
        width: 33rem;
        opacity: 0;
        transform: translateY(30px);
        transition-delay: 0.4s;
        transition: all 0.3s ease;
        p {
          padding-top: 5px;
        }
        h4 {
          text-transform: uppercase;
          font-weight: 800;
        }
      }
    }
    .img-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #212529;
      opacity: 0;
      transition: opacity 0.5s ease;
      .icon {
        color: #fff;
        font-size: 0.8rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        .information {
          border: 1px solid #fff;
          padding: 0.5rem 0.8rem;
          margin: 1rem 0;
          border-radius: 5px;
        }
        .search {
          transform: translateX(70%);
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .container {
    width: 100vw;
    .panel:nth-of-type(4),
    .panel:nth-of-type(5) {
      display: none;
    }
  }
}
